doctype html
html
  head
    title All-Inlined HTML
    meta(charset="utf-8")
    link(href="../../tmp/css/styles.css", inline)
  body
    h1 All-Inlined HTML
    script(src="../../tmp/js/script.js", inline)
